<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<strong>Home Page.</strong>
		<div>
			<a href= "/">HOME</a>
		</div>
		<div>
			<a href= "/new">MAKE NEW POST</a>
		</div>
		<div>
			<a href= "/show">SHOW POSTS</a>
		</div>
		

		<script src="clientscript.js"></script>
	</body>
</html>